.citas-paciente-container {
  padding: 1.5rem;

  h2 {
    margin-bottom: 1rem;
  }

  .actions {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }

  .estado {
    font-weight: bold;
    text-transform: capitalize;

    &.pendiente {
      color: #f59e0b;
    }

    &.completada {
      color: #10b981;
    }

    &.cancelada {
      color: #ef4444;
    }
  }

  .p-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
  }
  .dialog{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .p-inputtext{
    width: 100%;
  }
  .p-component{
    width: 100%;
  }

}

.p-button-secondary {
  background-color: #2200ff;
  color: #eee;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &:hover {
    background-color: #2d26ff;
  }
}