<div class="register-container">
  <h2>Registro</h2>
  <form>
    <div class="p-field">
      <label for="nombre">Nombre</label>
      <input id="nombre" name="nombre" type="text" pInputText placeholder="Ingresa tu nombre" />
    </div>

    <div class="p-field">
      <label for="apellidos">Apellidos</label>
      <input id="apellidos" name="apellidos" type="text" pInputText placeholder="Ingresa tus apellidos" />
    </div>

    <div class="p-field">
      <label for="fechaNacimiento">Fecha de nacimiento</label>
      <input id="fechaNacimiento" name="fechaNacimiento" type="date" pInputText placeholder="Ingresa tu fecha de nacimiento" />
    </div>

    <div class="p-field">
      <label for="genero">Género</label>
      <input id="genero" name="genero" type="text" pInputText placeholder="Ingresa tu género" />
    </div>

    <div class="p-field">
      <label for="correo">Correo electrónico</label>
      <input id="correo" name="correo" type="email" pInputText placeholder="correo@ejemplo.com" />
    </div>

    <div class="p-field">
      <label for="password">Contraseña</label>
      <p-password name="password" promptLabel="Ingresa tu contraseña" weakLabel="Muy simple" mediumLabel="Simple" strongLabel="Fuerte" />
    </div>

    <p-button label="Registrarme" icon="pi pi-user-plus"></p-button>
  </form>
</div>
