.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #333;
  border-radius: 10px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap : 1.2rem;
}

.p-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.qr {
  margin-top: 1rem;
  display: block;
  width: 200px;
  height: 200px;
}

.qr-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

p-password .p-password-input {
    width: 440px;
}