<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <p-iftalabel class="p-field">
      <label for="correo">Correo eletrónico</label>
      <input
        id="correo"
        name="correo"
        type="text"
        [(ngModel)]="correo"
        pInputText
        placeholder="Ingresa tu correo"
        required
      />
    </p-iftalabel>

    <p-iftalabel class="p-field">
      <p-password
        name="password"
        [(ngModel)]="password"
        required
        promptLabel="Ingresa tu contraseña"
        feedback="true"
        [feedback]="false"
        placeholder="Ingresa tu contraseña"
        [toggleMask]="true"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
      ></p-password>
      <label for="password">Contraseña</label>
    </p-iftalabel>

    <p-iftalabel class="p-field">
      <label for="mfa">Código MFA</label>
      <input
        id="mfa"
        name="mfa"
        type="text"
        inputmode="numeric"
        pattern="\d*"
        maxlength="6"
        pInputText
        [(ngModel)]="totp_code"
        required
        placeholder="Ingresa tu código"
      />
    </p-iftalabel>

    <a style="color: white; text-decoration: none" href="/register">
      ¿No tienes una cuenta? Registrate aqui</a
    >

    <p-button
      label="Iniciar Sesión"
      type="submit"
      [disabled]="loading"
    ></p-button>

    <div *ngIf="error" style="color: red; margin-top: 1rem">{{ error }}</div>
  </form>
</div>
